@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Jeju Myeongjo', serif;
}

code {
  font-family: 'Alatsi', sans-serif;
  }
  
  @media (min-width: 768px) {
    form {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 767px) {
    form {
      flex-direction: column;
    }
  }

  @layer utilities {
    .ticket-border {
      position: relative;
      border: 1px solid #24A0B5;
      border-radius: 1rem;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0,
        10px 0,
        10px 10px,
        calc(100% - 10px) 10px,
        calc(100% - 10px) 0,
        100% 0,
        100% 100%,
        calc(100% - 10px) 100%,
        calc(100% - 10px) calc(100% - 10px),
        10px calc(100% - 10px),
        10px 100%
      );
    }
  
    .ticket-border::before,
    .ticket-border::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #02191D;
      border-radius: 50%;
      border: 1px solid #24A0B5;
    }
  
    .ticket-border::before {
      top: -10px;
      left: -10px;
    }
  
    .ticket-border::after {
      top: -10px;
      right: -10px;
    }
  }

  